a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family:'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
.search-keyboard {
    position: absolute;
    top:19px;
    left:420px;
	background: url('imgs/sp_search.png') no-repeat -33px -60px;
	width: 19px;
	height: 11px;
}
.search-arrow {
    position: absolute;
    top:23px;
    left:452px;
	background: url('imgs/sp_search.png') no-repeat -87px -60px;
	width: 9px;
	height: 4px;
}


.navbar-mail {
	background: url('imgs/sp_nav.png') no-repeat 0 99.65%;
	width: 25px;
	height: 15px;
}
.navbar-cafe {
	background: url('imgs/sp_nav.png') no-repeat 99.643% 18.118%;
	width: 26px;
	height: 14px;
}
.navbar-blog {
	background: url('imgs/sp_nav.png') no-repeat 37.594% 63.636%;
	width: 40px;
	height: 15px;
}
.navbar-knowledge {
	background: url('imgs/sp_nav.png') no-repeat 37.828% 54.545%;
	width: 39px;
	height: 15px;
}
.navbar-shopping {
	background: url('imgs/sp_nav.png') no-repeat 99.288% 54.545%;
	width: 25px;
	height: 15px;
}
.navbar-pay {
	background: url('imgs/sp_nav.png') no-repeat 24.911% 100%;
	width: 25px;
	height: 15px;
}
.navbar-tv {
	background: url('imgs/sp_nav.png') no-repeat 45.62% 45.645%;
	width: 32px;
	height: 14px;
}
.navbar-dict {
	background: url('imgs/sp_nav.png') no-repeat 99.643% 72.474%;
	width: 26px;
	height: 14px;
}

.navbar-news {
	background: url('imgs/sp_nav.png') no-repeat 46.043% 36.237%;
	width: 28px;
	height: 14px;
}
.navbar-financial {
	background: url('imgs/sp_nav.png') no-repeat 12.857% 90.559%;
	width: 26px;
	height: 15px;
}
.navbar-estate {
	background: url('imgs/sp_nav.png') no-repeat 56.767% 54.545%;
	width: 40px;
	height: 15px;
}
.navbar-map {
	background: url('imgs/sp_nav.png') no-repeat 100% 45.296%;
	width: 26px;
	height: 14px;
}
.navbar-movie {
	background: url('imgs/sp_nav.png') no-repeat 83.871% 81.469%;
	width: 27px;
	height: 15px;
}
.navbar-music {
	background: url('imgs/sp_nav.png') no-repeat 25.714% 90.244%;
	width: 26px;
	height: 14px;
}
.navbar-book {
	background: url('imgs/sp_nav.png') no-repeat 47.782% 27.273%;
	width: 13px;
	height: 15px;
}
.navbar-webtoon {
	background: url('imgs/sp_nav.png') no-repeat 100% 0;
	width: 27px;
	height: 15px;
}
.navbar-more {
	background: url('imgs/sp_nav.png') no-repeat 0 36.364%;
	width: 55px;
	height: 15px;
}
/* ------------------------------------------------------------------------------ */
.wrapper{
    position: relative;
    background-color: #f2f4f7;
    height:2000px;
}
.header{
    background-color: #fff;
    border: 1px solid #d1d8e4;
}
.header-area{
    position: relative;
    height:130px;
}
.area-flex{
    margin: 0 auto;
    width:1080px;
    height:100%;
}
.area-logo{
    position: absolute;
    top:30%;
    background: url('imgs/sp_search.png') no-repeat 50% 10.811%;
    width: 198px;
    height: 48px;
}
.area-search{
    position: absolute;
    top:35%;
    left:400px;
}
.area-link{
    display:flex;
    justify-content: flex-end;
    padding:11px 0;
}
.area-link a{
    color: #888;
    /* margin-top: 5px; */
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 22px;
    padding-right: 6px;
}
.area-link a:nth-child(1){
    margin-right: 6px;
}
.area-link a:nth-child(1)::after{
    position: absolute;
    top:17px;
    right:287px;
    content:"";
    width:1px;
    height:11px;
    background-color: #ebeef3;
}
.area-link a:nth-child(2){
    margin-left: 4px;
}
.search-box{
    border: 2px solid #03cf5d;
    width:470px;
    height:45px;
    display: flex;
    justify-content: center;
}
.search-text{
    margin: 12px 0 0 9px;
    border:0;
    width:405px;
}
.search-btn{
    position: absolute;
    top:0;
    right:-49px;
    width:49px;
    height:49px;
    border:0;
    background-color: #03cf5d;
}
.btn-img {
    position: absolute;
    top:14px;
    right:15.5px;
	background: url('imgs/sp_search.png') no-repeat 2.162% 93.75%;
	width: 21px;
	height: 21px;
}

.header-navbar{
    height:46px;
    border-top: 1px solid #f1f3f6;
    display:flex;
    align-items: center;
}
.navbar-area{
    position: relative;
    margin: 0 auto;
    width:1080px;
    display:flex;
    /* justify-content: space-around; */
}
.navbar-menu{
    display:flex;
}
.header-navbar span:nth-child(1){
    /* margin-right: 14px; */
    padding-left: 0;
}
.header-navbar span:nth-child(3){
    padding-left: 18px;
}

.navbar-menu .item{
    padding-left: 15px;
}
.navbar-menu .item:nth-child(1){
    padding-left: 0;
}
.navbar-menu .item:nth-child(17){
    padding-left: 28px;
}
.navbar-menu .item:nth-child(17)::after{
    position: absolute;
    top:2px;
    right:390px;
    content: "";
    height:13px;
    width:1px;
    background-color: #ebeef3;
}

.navbar-rank{
    display:flex;
    width:100%;
    justify-content: flex-end;
}
.rank{
    display: flex;
    width:60%;
    justify-content: space-around;
    overflow: hidden;
}
.rank-item{
    margin-right: 105px;
}

.rank-item span{
   color: #03cf5d; 
   margin-right: 5px;
}
.rank i{
    font-size: 15px;
}

/* ------------------------------------------------------------------------------- */

.container{
    position: relative;
    margin:0 auto;
    width:1080px;
    padding-top: 10px;
    
}
.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.col{
    /* background-color: lightblue; */
    /* height:100%; */
}
.advertise{
    width:740px;
    height:120px;
    background-color: yellowgreen;
}
.advertise img{
    width:100%;
    height:100%;
}
.account{
    width:330px;
    height:118px;
    /* padding:10px 16px 12px 14px; */
    border: 1px solid #ebeef3;
}
.account-user{
    background-color: #fff;
    height:81px;
    border-bottom: 1px solid #dee3eb;
}
.user-thumbnail{
    padding-left: 10px;
    width:80px;
    height:80px;
    float: left;
}
.user-thumbnail img{
    width:100%;
    height: 100%;
}
.private{
    font-size: 14px;
    font-weight: 700;
    padding:22px 0 0 4px;
}
.private-menu{
    font-size: 12px;
    vertical-align: top;
    padding:9px 0 0 10px;
    color:#888;
}
.private-menu{
    text-decoration: underline;
}
.fa-lock{
    vertical-align: top;
    padding-left: 5px;
    font-size: 11px;
}
.user-service{
    padding:6px 0 0 0;
    font-size: 13px;
    display:flex;
    align-items: center; 
}
.mailcount, .lettercount{
    color:#00AB33;
    margin-right: 5px;
}
.lettercount{
    margin-right: 63px;
}
.user-logout{
    color:#444;
    font-size: 12px;
    padding: 0 5px;
    height:22px;
    border:1px solid #e5e8ef;
    line-height: 23px;
}
.account-service{
    height:37px;
    background-color: #fafafa;
}

.yeonhap{
    position: relative;
    border: 1px solid #ebeef3;
    margin-top: 10px;
    width:738px;
    /* border속성으로 인한 좌우값 1px씩 추가되어 2px빼주어여함 */
    height:42px;
    background-color: #fff;
    display:flex;
}
.yeonhap-news{
    margin: 15px 0 0 16px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 14px;
    line-height: 16px;
}
.yeonhap-contents{
    margin: 12px 0 0 16px;
}
.yeonhap-news a{
    color:#000;
    margin-right: 5px;
}
.yeonhap-contents .item{
    line-height: 20px;
}
.yeonhap-contents a{
    color:#222;
    font-size: 12px;
    font-weight: 600;
}
.yeonhap-category{
    display:flex;
    width:180px;
    font-size: 13px;
    margin:16px 0 0 0;
    padding-left: 160px;
    justify-content: space-between;
}
.yeonhap-category .item a{
    color:#666;
    font-weight: 700;
    line-height: 16px;
}
.yeonhap-category .news{
    color:#03cf5d;
}
.newsstand{
    margin-top: 10px;
    width:738px; 
    /* border속성으로 인한 좌우값 1px씩 추가되어 2px빼주어여함 */
    height:247px;
    background-color: #fff;
    border: 1px solid #ebeef3;
}
.newsstand-title a{
    color:#000;
}
.newsstand-all{
    position: relative;
    padding-left: 10px;
    margin-right: 25px;
}
.newsstand-all a{
    color:#000;
}
.newsstand-all::after{
    content:"";
    width:1px;
    position: absolute;
    top:0;
    left:103px;
    height:15px;
    background-color: #ebeef3;
}
.newsstand-mynews a{
    color:#000;
}
.newsstand-menulist{
    position:relative;
    height:44px;
    display: flex;
    padding-left: 17px;
    align-items: center;
    border-bottom: 1px solid #ebeef3;
}
.newsstand-menu{
    display:flex;
    width:210px;
    padding-left: 264px;
    /* margin-top:13px; */
    justify-content: space-between;
    align-items: center;
}
.menu-style{
    display:flex;
    width:110px;
    justify-content: space-between;
}
.menu-album{
	background: url('imgs/yeonhap_sprites.png') no-repeat 8.756% 46.154%;
	width: 18px;
    height: 17px;
}
.menu-inline {
	background: url('imgs/yeonhap_sprites.png') no-repeat 27.23% 50%;
	width: 22px;
    height: 18px;
    /* margin-left: 8px; */
}
.menu-edit {
	background: url('imgs/yeonhap_sprites.png') no-repeat 46.479% 48.485%;
	width: 22px;
    height: 23px;
}
.menu-control{
    display:flex;
    padding-right: 14px;
    width:80px;
    height:44px;
    justify-content: space-between;
    align-items: center;
    
}
.prev-btn {
	background: url('imgs/yeonhap_sprites.png') no-repeat 71.171% 47.222%;
	width: 40px;
    height: 44px;
    /* border-left:1px solid #ebeef3; */
}
.next-btn {
	background: url('imgs/yeonhap_sprites.png') no-repeat 90.991% 47.222%;
	width: 40px;
    height: 44px;
    /* border-left: 1px solid #ebeef3; */
}

.weather{
    position: absolute;
    top:140px;
    right:0px;
    width:332px;
    height: 142px;
    background-color: lightgray;
}
.ad{
    position: absolute;
    top:290px;
    right:0;
    width:332px;
    height:151.5px;
    background-color: lightseagreen;
}

